<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.jpetstore.dao.mybatis.mapper.AuctionMapper">
  <cache />

  <insert id="insertAuction" parameterType="AuctionItem">
    INSERT INTO AUCTIONITEM
      (ITEMID, PRODUCTID, LISTPRICE, UNITCOST, SUPPLIER, STATUS, ATTR1, ATTR2, ATTR3, ATTR4, ATTR5, BUYERID, DUETIME, DESCRIPTION, COMPANYSUPPLIER, CATEGORYID)
    VALUES
      (#{itemId}, #{productId}, #{listprice}, #{unitcost}, #{supplier}, #{status}, #{attr1}, #{attr2}, #{attr3}, #{attr4}, #{attr5}, #{buyerId}, #{dueTime}, #{description}, #{companySupplier}, #{categoryId})
  </insert>
  
  <select id="getAuctionList" resultType="AuctionItem">
    SELECT *
    FROM AUCTIONITEM
    WHERE productId = #{productId}
  </select>
  
  <select id="getAuctionItem" resultType="AuctionItem">
  	SELECT *
  	FROM AUCTIONITEM
  	WHERE itemId = #{itemId}
  </select>

  <insert id="insertBuyer" parameterType="Buyer">
  	INSERT INTO BUYER
  	  (USERNAME, ITEMID, LISTPRICE)
  	VALUES
  	  (#{username}, #{itemId}, #{listprice})
  </insert>
  
  <update id="updateAuctionBuyer" parameterType="Buyer">
  	UPDATE AUCTIONITEM 
  	SET LISTPRICE = #{listprice},
  	  	BUYERID = #{username}
  	WHERE ITEMID = #{itemId}
  </update>
  
  <delete id="deleteBuyer" parameterType="Buyer">
  	DELETE 
  	FROM BUYER
  	WHERE username = #{username}
  	AND itemId = #{itemId}
  	AND listprice = #{listprice}
  </delete>
  
  <select id="bestBuyerByItemId" parameterType="java.lang.String" resultType="java.util.HashMap">
  	SELECT username, itemId, max(listprice) as listprice
  	FROM BUYER 
  	WHERE itemId = #{itemId}
  	GROUP BY username, itemId
  	ORDER BY max(listprice) DESC;
  </select>
  
  <update id="updateAuction" parameterType="AuctionItem">
  	UPDATE AUCTIONITEM SET
  	  UNITCOST = #{unitcost}, STATUS = #{status}, 
  	  ATTR1 = #{attr1}, ATTR2 = #{attr2}, ATTR3 = #{attr3}, 
  	  ATTR4 = #{attr4}, ATTR5 = #{attr5}, DUETIME = #{dueTime}, DESCRIPTION = #{description}
  	WHERE ITEMID = #{itemId}
  </update>
  
  <delete id="deleteAuctionByItemId" parameterType="AuctionItem">
  	DELETE 
  	FROM AUCTIONITEM
  	WHERE itemId = #{itemId}
  </delete>
  
  <select id="myAuctionItemList" resultType="AuctionItem">
  	SELECT *
  	FROM AUCTIONITEM
  	WHERE SUPPLIER = #{username}
  </select>
  
  <select id="myBidList" parameterType="java.lang.String" resultType="java.util.HashMap">
  	SELECT b.username as username, 
  			b.itemId as itemId, 
  			max(b.listprice) as myPrice, 
  			a.categoryId as categoryId, 
  			a.listprice as nowPrice, 
  			a.dueTime as dueTime
	FROM BUYER b, AUCTIONITEM a
	WHERE b.itemId=a.itemId
	AND b.username=#{username} 
	GROUP BY username, itemId
  </select>
  
  <select id="selectBuyerByitemIdAndUsername" parameterType="java.util.HashMap" resultType="java.util.HashMap">
  	SELECT username, itemId, max(listprice) as listprice 
  	FROM BUYER 
	WHERE itemId=#{itemId} AND username=#{username} 
	GROUP BY username, itemId
  </select>
</mapper>