<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.jpetstore.dao.mybatis.mapper.AuctionMapper">
  <cache />

<!-- 여기서부터 추가 -->

  <insert id="insertAuction" parameterType="AuctionItem">
    INSERT INTO AUCTIONITEM
      (ITEMID, PRODUCTID, LISTPRICE, UNITCOST, SUPPLIER, STATUS, ATTR1, ATTR2, ATTR3, ATTR4, ATTR5, BUYERID, DUETIME, DESCRIPTION, COMPANYSUPPLIER, CATEGORYID)
    VALUES
      (#{itemId}, #{productId}, #{listprice}, #{unitcost}, #{supplier}, #{status}, #{attr1}, #{attr2}, #{attr3}, #{attr4}, #{attr5}, #{buyerId}, #{dueTime}, #{description}, #{companySupplier}, #{categoryId})
  </insert>
  
  <select id="getAuctionList" resultType="AuctionItem">
    SELECT *
    FROM AUCTIONITEM
    WHERE productId = #{productId}
  </select>
  
  <select id="getAuctionItem" resultType="AuctionItem">
  	SELECT *
  	FROM AUCTIONITEM
  	WHERE itemId = #{itemId}
  </select>

</mapper>