<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.jpetstore.dao.mybatis.mapper.MainMapper">
  <cache />

  <select id="getBestItems" resultType="Item">
    SELECT
      I.CATEGORYID AS categoryId,      
      I.PRODUCTID AS productId,
      I.ITEMID AS itemId,
      LISTPRICE AS listprice,
      UNITCOST AS unitcost,
      SUPPLIER AS supplier,
      SUPPLIER_CATE AS supplier_cate,
      STATUS AS status,
      ATTR1 AS attr1,
      ATTR2 AS attr2,
      ATTR3 AS attr3,
      ATTR4 AS attr4,
      ATTR5 AS attr5,
      DESCRIPTION AS description
    FROM ITEM I, (
		SELECT `itemid`, sum(quantity)
		FROM LINEITEM
		GROUP BY `itemid`
	) T
	WHERE I.itemid = T.itemid
  </select>
  
  <select id="getBestAuctionItems" resultType="AuctionItem">
     SELECT
      A.CATEGORYID AS categoryId,
      A.ITEMID AS itemId,
      A.PRODUCTID AS productId,
      LISTPRICE AS listprice,
      UNITCOST AS unitcost,
      SUPPLIER AS supplier,
      STATUS AS status,
      ATTR1 AS attr1,
      ATTR2 AS attr2,
      ATTR3 AS attr3,
      ATTR4 AS attr4,
      ATTR5 AS attr5
    FROM AUCTIONITEM A, (
		SELECT `itemid`, sum(quantity)
		FROM LINEITEM
		GROUP BY `itemid`
	) T
	WHERE A.itemid = T.itemid
  </select>
  
</mapper>