<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.jpetstore.dao.mybatis.mapper.MainMapper">
  <cache />

  <select id="getBestItems" resultType="Item">
    SELECT
      I.ITEMID AS itemId,
      I.PRODUCTID AS productId,
      LISTPRICE AS listPrice,
      UNITCOST AS unitCost,
      SUPPLIER AS supplierId,
      STATUS AS status,
      ATTR1 AS attribute1,
      ATTR2 AS attribute2,
      ATTR3 AS attribute3,
      ATTR4 AS attribute4,
      ATTR5 AS attribute5
    FROM ITEM I, (
		SELECT `itemid`, sum(quantity)
		FROM LINEITEM
		GROUP BY `itemid`
	) T
	WHERE I.itemid = T.itemid
  </select>
  
<!--    <select id="getBestItems" resultType="Auction">
    SELECT
      I.ITEMID,
      I.PRODUCTID,
      LISTPRICE,
      UNITCOST,
      SUPPLIER AS supplierId,
      I.PRODUCTID AS "product.productId",
      NAME AS "product.name",
      DESCN AS "product.description",
      CATEGORY AS "product.categoryId",
      STATUS,
      ATTR1 AS attribute1,
      ATTR2 AS attribute2,
      ATTR3 AS attribute3,
      ATTR4 AS attribute4,
      ATTR5 AS attribute5
    FROM LINEITEM L, Auction A
	WHERE L.itemid = A.itemid
  </select> -->
  
</mapper>