<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.jpetstore.dao.mybatis.mapper.MessageMapper">

  <cache />

<!--   <select id="getMessages" resultType="Message">
    SELECT
      id AS id
      ,sender_id AS senderId
      ,receiver_id AS receiverId 
      ,title
      ,context
      ,create_at AS createAt
    FROM MESSAGE
    WHERE receiver_id=#{username}
  </select> -->
  
    <select id="getMessages" resultType="Message">
    SELECT
      id AS id
      ,sender_id AS senderId
      ,receiver_id AS receiverId 
      ,title
      ,context
      ,create_at AS createAt
    FROM MESSAGE
    <if test='param2.equals("recv")'>
	    WHERE receiver_id=#{param1}
   </if>
   <if test='param2.equals("sent")'>
	    WHERE sender_id=#{param1}
   </if>
  </select>
  
  <select id="getMessageById" resultType="Message">
  	SELECT 
  		id AS id
      ,sender_id AS senderId
      ,receiver_id AS receiverId 
      ,title
      ,context
      ,create_at AS createAt
     FROM MESSAGE
     WHERE id=#{messageId}
  </select>
  
  <insert id="sendMessage" parameterType="Message">
    INSERT INTO MESSAGE (sender_id, receiver_id, title, context, create_at)
    VALUES(#{senderId}, #{receiverId}, #{title}, #{context}, NOW())
  </insert>
  
  <delete id="deleteMessage" parameterType="Message">
  	DELETE 
  	FROM MESSAGE
  	WHERE ID=#{messageId}
  </delete>

</mapper>