<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.jpetstore.dao.mybatis.mapper.PointMapper">

  <cache />

	<insert id="addPoint" parameterType="Point">
		INSERT INTO POINT (user_id, point, content, create_at)
	    VALUES(#{userId}, #{point}, #{content}, NOW())
  	</insert>
  
  	<select id="getPointByUserId" resultType="long">
	 	select IFNULL(sum(point), 0) 
		from POINT
		WHERE user_id = #{userId}
		group by user_id;
  	</select>
  	
  	<select id="listByUserId" parameterType="com.example.jpetstore.vo.PagingVo" resultType="Point">
		SELECT
			user_id AS userId,
			point,
			content,
			create_at AS createAt
		FROM POINT
		WHERE user_id = #{userId}
		ORDER BY create_at desc
		LIMIT #{offset}, #{limit}
	</select>
  	
  	<insert id="addCalendar" parameterType="String">
		INSERT INTO CALENDAR (user_id, create_at)
	    VALUES(#{userId}, NOW() + INTERVAL 9 HOUR)
  	</insert>
  	
  	<select id="getCalendarList" resultType="CALENDAR">
	 	select 
	 		cldr_id AS cldrId,
	 		user_id AS userId,
	 		create_at AS createAt
		from CALENDAR
		WHERE user_id = #{userId}
  	</select>
  	
  	<select id="getCalendarListByDate" resultType="CALENDAR">
		select
		cldr_id AS cldrId,
		user_id AS userId,
		create_at AS createAt
		from CALENDAR
		WHERE user_id = #{userId}
		AND create_at > #{startDate}
		<![CDATA[
		AND create_at < #{endDate}
		]]>
	</select>
  	
  	

</mapper>