@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
body {
	background : linear-gradient(to right, #346cbf , #b941ae);
	text-align:center;
}
.main-background {
	background-image : url("../images/main-background2.png");
	background-repeat : no-repeat;
	background-position : center top;
	width:100%;
	height:60vh;
	text-align:center;
}
.body-container {
	background-color : #ffffff;
	height:40vh;
}
