@charset "UTF-8";

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

.btn-msg-del {
	transition: 0.3s;
}

.btn-msg-send {
	transition: 0.3s;
}

.btn-msg-send:hover {
	text-decoration: none;
}

.msg-icon {
	color: #fff;
}

.page-num td {
	border-top: 0px solid rgba(222, 226, 230, .3);
}

.table td, .table th {
	border-top: 0px solid rgba(222, 226, 230, .3);
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.table thead th {
	border-bottom: 2px solid rgba(222, 226, 230, .3);
	padding-top: 1rem;
	padding-bottom: 1rem;
}

table {
	color: #fff;
	font-family: 'Nanum Gothic';
	font-size: 0.9rem;
	text-align: center;
	margin-top: 3rem;
}

body {
	background: linear-gradient(to right, #346cbf, #b941ae);
	text-align: center;
}

.top-container {
	max-width: 1024px;
	margin: auto;
	display: inline-block;
}

.msg-container {
	background-color: rgb(0, 0, 0, 40%);
	height: 65vh;
	padding-top: 2rem;
	padding-bottom: 2rem;
	padding-left: 3rem;
	padding-right: 3rem;
}

.msg-tab {
	color: #fff;
	font-family: 'Nanum Gothic';
	font-size: 0.8rem;
	transition: 0.2s;
	margin-right: 0.5rem;
	margin-left: 0.5rem;
}

.msg-tab:hover {
	color: #fff;
	background-color: rgb(255, 255, 255, 10%);
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
	color: #FFFFFF;
	background-color: #346CBF;
	background-image: -webkit-gradient(linear, left, right, from(#346CBF),
		to(#B941AE));
	background-image: -webkit-linear-gradient(right, #346CBF, #B941AE);
	background-image: -moz-linear-gradient(right, #346CBF, #B941AE);
	background-image: -ms-linear-gradient(right, #346CBF, #B941AE);
	background-image: -o-linear-gradient(right, #346CBF, #B941AE);
	background-image: linear-gradient(to right, #346CBF, #B941AE);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,
		startColorstr=#346CBF, endColorstr=#B941AE);
	-webkit-transition: 0.6s;
}

.message-title {
	width: 50%;
}
.message-title a {
	text-decoration:none;
	color:#fff;
	font-size : 0.9rem;
	font-family: 'Nanum Gothic';
	transition:0.3s;
}
.message-title a:hover {
	color:#aaaaac;
}
.msg-search {
	padding-left:1rem;
	padding-right:1rem;
	width: 40%;
	}
input::-webkit-input-placeholder{
	font-size : 0.9rem;
	font-family: 'Nanum Gothic';
}
.btn-search {
	color: #fff;
	background-color: rgb(0, 0, 0, 0%);
	border: 1px solid #fff;
	transition: 0.3s;
}

.btn-search:hover {
	background-color: #346CBF;
	background-image: -webkit-gradient(linear, left, right, from(#346CBF),
		to(#B941AE));
	background-image: -webkit-linear-gradient(right, #346CBF, #B941AE);
	background-image: -moz-linear-gradient(right, #346CBF, #B941AE);
	background-image: -ms-linear-gradient(right, #346CBF, #B941AE);
	background-image: -o-linear-gradient(right, #346CBF, #B941AE);
	background-image: linear-gradient(to right, #346CBF, #B941AE);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,
		startColorstr=#346CBF, endColorstr=#B941AE);
	text-decoration: none;
}
.btn-group-msg td{
	padding-top:22vh;
}