@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

.history-container {
	width:77vw;
	height:34vh;
	background-color : rgba(0,0,0,0.1);
	display:inline-block;
}
.history-logo {
	width:5vw;
	height:7vh;
	display:inline;
}
.history-item {
	padding-top: 1rem;
	background-color:rgba(255,255,255,0.8);
	transition:0.4s;
}
.history-item:hover{
	background-color:rgba(255,255,255,0.5);
}